/* src/FormPage.css */
.form-page-container {
    padding: 20px;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px; /* Adjust the max-width to your preference */
  }
  
  label {
    margin-bottom: 8px;
    text-align: left;
    position: relative;
  }
  
  input {
    padding: 8px;
    margin-bottom: 12px; /* Increase the margin-bottom for spacing */
    width: 100%; /* Make the input field take the full width */
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px; /* Adjust the max-width to your preference */
  }
  
  .error {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 100%;
    left: 0;
  }
  